.upper-side {
    background-color: #4EA0FF;
    background-image: url(img/pattern.png);
    background-size: contain;
}


.logo {
    width: 300px;
    padding-top: 50px;

}

.title {
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: 0;
}

.under-title {
    font-size: 20px;
    color: #808080;
}

.part-of-text {
    color: #20A9E5;
}

.paragraph {
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
}

table {
    background-color: #4EA0FF;
    border-spacing: 0;

}

th {
    color: white;
}


.rule1,
.rule2 {
    width: 20%;


}

tr {
    text-align: left;
}


.rule3 {
    width: 60%;

}

.section-1,
.section-3 {
    background-color: #B1E5F2;
}

.section-2 {
    background-color: white;
}

h3 {
    color: #808080;
}

.bimg1,
.bimg2 {

    font-size: 30px;
    color: white;
    text-align: center;

}

.bimg1 {
    background-image: url(img/monitor.jpg);
    width: 312px;
    height: 176px;
}

.bimg2 {
    background-image: url(img/graph.jpg);
    margin-top: 30px;
    width: 311px;
    height: 207px
}

.editor {
    margin-top: 50px;
}